<section class="container">
  <div class="d-flex align-items-center">

        <h1 class="me-5">{{item.name}}</h1>
        <p class="m-0 fs-4">{{item.price}} €/kg</p>
  </div>
  <div class="row">
    <div class="col">
      <img class="w-75 h-75" src={{item.imgUrl}} alt="pic" />
    </div>

    <div class="col">
      <div class="d-flex justify-content-between align-items-center det-quan-sec p-4 bg-light">
        <div class="d-flex justify-content-between align-items-center w-25 bg-white p-2" style="border-radius: 50px;">
            <a href="/catalog/details/{{item.id}}" class="rounded-circle btn btn-secondary d-flex justify-content-center align-items-center" style="width: 40px; height: 40px">-</a>
            <p class="m-0">1</p>
            <a href="/catalog/details/{{item.id}}" class="rounded-circle btn btn-secondary d-flex justify-content-center align-items-center" style="width: 40px; height: 40px">+</a>
        </div>
          <div>
            Total: 556€
          </div>
          <div>
          <a
            href="/catalog/details/{{item.id}}"
            class="btn btn-outline-success"
          >Add to Cart</a>
        </div>
      </div>

      <div>
        <div class="bg-light p-3" style="width: fit-content; border-top-left-radius: 15px; border-top-right-radius: 15px">
          Description          
        </div>
        <div class="bg-light p-3" style="border-top-right-radius: 15px; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px">
          {{item.description}}
        </div>
        
      </div>
    </div>

  </div>
  <footer>footer</footer>
</section>