{{!-- style="gap: 32px; --}}


<div class="d-flex flex-wrap gap-5 lg-gap-6">

{{#each data}}

        <div class="card mt-5" style="width: 288px;">
            <img src={{imgUrl}} class="card-img-top img-fluid" style="height: 200px" alt="image">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>                
                <p class="card-text">
                    <div class="overflow-hidden text-muted" style="height: 150px;">{{description}}</div>
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">

                <a href="/catalog/details/{{_id}}" class="btn btn-primary text-end">Read more...</a>
                <p>Price: {{price}}€</p>
            </div>
        </div>
   
{{/each}}

</div>
