<div class="row row-cols-1 row-cols-md-4 g-4">

{{#each data}}

   <div class="col">
        <div class="card mt-5" style="width: 18rem;">
            <img src={{imgUrl}} class="card-img-top img-fluid" style="height: 200px" alt="image">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>                
                <p class="card-text">
                    <div class="overflow-hidden text-muted" style="height: 150px;">{{description}}</div>
                </p>
            </div>
            <div class="card-footer d-flex justify-content-between align-items-center">

                <a href="/catalog/details/{{_id}}" class="btn btn-primary text-end">Read more...</a>
                <p>Price: {{price}}€</p>
            </div>
        </div>
    </div>

{{/each}}

</div>